<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主播列表</title>
    <link rel="stylesheet" href="../lib/css/semantic.min.css">
    <!-- 后续再引入main做css合并 -->
    <link rel="stylesheet" href="../css/common/common.css">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div id="page" class="wrap">
    <div class="ui segments">
      <div class="ui segment" v-for="user in users">
        <span class="username">主播：{{user.username}}</span>
        <a v-if="user.roomid" class="roomname" :href="getLink(user.roomid)" target="_blank">开播房间：{{user.roomname}}(房间id {{user.roomid}})</a>
        <div v-else class="roomname">该主播没有直播房间</div>
        <div class="modifybtn">
          <div class="ui primary button charge-btn" @click="modifyPwd(user)">修改密码</div>
        </div>
      </div>
    </div>
    <!-- 修改密码popup -->
    <div class="ui modal pop">
      <div class="image content">
        <div class="description">
          <div class="ui header">用户密码修改</div>
          <p>请输入账户密码<input type="text"></p>
        </div>
      </div>
      <div class="actions">
        
        <div class="ui black deny button">取消</div>
        <div class="ui positive button" @click="submitPwd">修改</div>
    </div>
    <!-- 修改成功popup -->
    <div class="ui modal suc">
      <div class="image content">
        <div class="description">
          <div class="ui header">密码修改成功！</div>
        </div>
      </div>   
  </div>
    <!-- 修改失败popup -->
    <div class="ui modal fail">
      <div class="image content">
        <div class="description">
          <div class="ui header">密码修改失败！</div>
        </div>
      </div>   
  </div>  
  </div>   
<script src="../lib/jquery.min.js"></script>
<script src="../lib/semantic.min.js"></script>
<script src="../lib/vue.js"></script>
<script src="../lib/vue-resource.js"></script>
<script src="../common/host.js"></script>
<script src="./index.js"></script>
</body>
</html>