<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>频道列表页</title>
    <link rel="stylesheet" href="../lib/css/semantic.min.css">
    <link rel="stylesheet" href="../css/common/common.css">
    <link rel="stylesheet" href="../css/common/paganation.css">
    <link rel="stylesheet" href="./channellist.css">
</head>
<body>
    <div class="page" id="page">
        <div class="ui middle aligned center aligned">
            <div class="wrap">
                <h1 class="ui header aligned">频道列表</h1>
                <div>
                频道选择：
                    <select class="ui dropdown" v-model="selectTag">
                        <option value="all">全部标签</option>
                        <option v-for="tag in tags" v-bind:value="tag">{{tag}}</option>
                    </select>
                </div>            
                <div class="tag-item" v-for="tag in tagsFilter">
                <div class="ui header aligned" style="margin-top:30px;">标签名：{{tag}}</div>
                    <div class="room-item" v-for="channel in channels[tag]">
                        <a :href="channel.link" target="_blank">
                            <img :src="channel.thumb" class="thumb">    
                            <div class="room-name">{{channel.name}}</div>
                            <div class="room-name">标签:{{channel.tag}} Id:{{channel.id}}</div>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="page-wrap" style="display: none;">
                <pagination :url="url" size="999" @dataloaded="pageLoaded"></pagination>
            </div>
        </div>
    </div>

<script src="../lib/vue.js"></script> 
<script src="../lib/vue-resource.js"></script> 
<script src="../common/host.js"></script> 
<script src="../component/page.js"></script> 
<script src="./channellist.js"></script>     
</body>
</html>