<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房间列表页</title>
    <link rel="stylesheet" href="../lib/css/semantic.min.css">
    <link rel="stylesheet" href="../css/common/common.css">
    <link rel="stylesheet" href="../css/common/paganation.css">
    <link rel="stylesheet" href="./roomlist.css">
</head>
<body>
    <div class="page" id="page">
        <div class="ui middle aligned center aligned">
            <div class="wrap">
                <h1 class="ui header aligned">{{$t("message.roomlist")}}</h1>
                <div>
                {{$t("message.pindaoxuanze")}}
                    <select class="ui dropdown" v-model="selectChannel">
                        <option value="all">{{$t("message.quanbupindao")}}</option>
                        <option v-for="channel in channels" v-bind:value="channel">{{channel}}</option>
                    </select>
                </div>
                <div class="channel-item" v-for="channel in filterChannels">
                    <div class="ui header aligned" style="margin-top:30px;">{{$t("message.pindaoming")}}：{{channel}}</div>
                    <div class="room-wrap">
                        <div class="room-item" v-for="room in rooms[channel]">
                            <a :href="room.link" target="_blank">
                                <img :src="room.thumb" class="thumb">    
                                <div class="room-name">{{room.name}}</div>
                                <div class="room-status" :class="{show : room.living, unshow : !room.living}">{{room.user}}</div>
                                <div class="room-status" :class="{show : room.living, unshow : !room.living}">{{$t("message.living")}}</div>
                                <div class="room-status" :class="{show : !room.living, unshow : room.living}">{{$t("message.noliving")}}</div>
                                <div class="room-btn">
                                    <div :roomid="room.id" class="negative ui button delete-btn" @click.prevent="onDeleteBtnClick(channel,$event)">{{$t("message.roomdelete")}}</div>
                                </div>
                                <div class="room-btn" :class="{show : room.living, unshow : !room.living}">
                                    <div :roomid="room.id" class="negative ui button delete-btn" @click.prevent="onCloseBtnClick(channel,$event)">{{$t("message.closeliving")}}</div>
                                </div>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="page-wrap" style="display: none;">
                <pagination :url="url" size="999" @dataloaded="pageLoaded"></pagination>
            </div>
        </div>
    </div>
<script src="../lib/vue.js"></script> 
<script src="../lib/vue-resource.js"></script>
<script src="../lib/vue-i18n.min.js"></script> 
<script src="../common/i18n.js"></script> 
<script src="../common/host.js"></script> 
<script src="../component/page.js"></script> 
<script src="./roomlist.js"></script>     
</body>
</html>