<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改房间</title>
    <link rel="stylesheet" href="../lib/css/semantic.min.css">
    <link rel="stylesheet" href="../css/common/common.css">
    <link rel="stylesheet" href="./room.css">    
</head>
<body>
    <div class="page" id="page">
        <div class="ui middle aligned center aligned grid">
            <div class="wrap">
                <h1 class="ui header aligned">修改房间</h1>
                <form class="ui form segment room-container">
                    <div class="two fields">
                        <div class="field">
                            <label>房间名称</label>
                            <input placeholder="房间名称" name="name" type="text" v-model="name"></div>
                        <div class="field">
                            <label>房间权重</label>
                            <input type="number" v-model="order"/>    
                        </div>
                    </div>
                    <div class="fields two">
                        <div class="field">
                            <label>标签</label>
                            <input placeholder="标签" type="text" v-model="tag"/>
                        </div>
                        <div class="field">
                            <label>房间关联用户（用于推流）</label>
                            <input placeholder="标签" type="number" v-model="userNum"/>
                        </div>                        
                    </div>                    
                    <div class="field">
                        <label>房间简介</label>
                        <input placeholder="简介" name="username" type="text" v-model="desc"/>    
                    </div>
                    <div class="fields three">
                        <div class="field">
                            <label>独立收费</label>
                            <select name="" id="" v-model="dependencyCharge">
                                <option value="0">否</option>
                                <option value="1">是</option>
                            </select>
                        </div>
                        <div class="field">
                            <label>所属频道</label>
                            <channelselect :roomchannel="channelId" ref="channel"></channelselect>
                        </div>
                        <div class="field">
                            <label>人气系数</label>
                            <input type="number" v-model="onlineRatio"/>    
                        </div>
                    </div>
                    <div class="field" :style="{display : changeShow}">
                        <label>基础定价</label>
                        <div class="inline price-line">
                            <input type="number" class="charge-input-money" v-model="price">                        
                            <span class="charge-span">元/月</span>
                        </div>
                        <label>折扣策略</label>
                        <div class="charge-wrap">
                            <charge v-for="item in chargeStrategy" :discount="item.discount" :duration="item.duration" :id="item.id" ref="charges" v-on:remove="onChargeRemove"></charge>
                        </div>
                        <div class="ui primary button charge-btn" @click="addStrategy">添加策略</div>
                    </div>
                    <imguploader ref="thumbcom" title="封面上传" thumb="http://w1.hoopchina.com.cn/e9/57/ab/e957ab0f18cc02cd4bf967cc402b0e09001.jpg"></imguploader>
                    <imguploader ref="u3dcom" title="U3D背景图片上传" thumb="http://w1.hoopchina.com.cn/e9/57/ab/e957ab0f18cc02cd4bf967cc402b0e09001.jpg"></imguploader>     
                    <div class="ui primary submit button" v-on:click="submit">提交</div>
                </form>
            </div>
        </div>
    </div>
    <div class="ui modal"> <i class="close icon"></i>
        <div class="header">恭喜您</div>
        <div class="image content">
            <div class="description">
                <div class="ui header">房间创建成功！</div>
                <p>
                    该房间关联用户的用户名是: snaligame001
                </p>
                <p>密码是 fegre1</p>
                <p>请妥善保管！</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">知道了</div>
<!--             <div class="ui positive right labeled icon button">
                Yep, that's me <i class="checkmark icon"></i>
            </div> -->
        </div>
    </div>
<script src="../lib/vue.js"></script> 
<script src="../lib/vue-resource.js"></script> 
<script src="../component/imguploader.js"></script> 
<script src="./charge_component.js"></script> 
<script src="./channel_component.js"></script> 
<script src="./update.js"></script> 
</body>
</html>