<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改房间</title>
    <link rel="stylesheet" href="../lib/css/semantic.min.css">
    <link rel="stylesheet" href="../css/common/common.css">
    <link rel="stylesheet" href="./room.css">    
</head>
<body>
    <div class="page" id="page">
        <div class="ui middle aligned center aligned grid">
            <div class="wrap">
                <h1 class="ui header aligned">{{$t("message.roommodify")}}</h1>
                <form class="ui form segment room-container">
                    <div class="two fields">
                        <div class="field">
                            <label>{{$t("message.roomName")}}</label>
                            <input name="name" type="text" v-model="name"></div>
                            <div class="field">
                                <label>{{$t("message.roomOrder")}}</label>
                                <input type="number" v-model="order"/>    
                            </div>
                        </div>
                        <div class="fields two">
                            <div class="field">
                                <label>{{$t("message.tag")}}</label>
                                <input type="text" v-model="tag"/>    
                            </div>
                            <div class="field">
                                <label>{{$t("message.roomdelete")}}</label>
                                <select v-model="deleteRoom">
                                    <option value="0">{{$t("message.no")}}</option>
                                    <option value="1">{{$t("message.yes")}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="fields two">
                            <div class="field">
                                <label>{{$t("message.livingstatus")}}</label>
                                <div class="inline live-status">{{ roomStatus }}</div>
                            </div>
                            <div class="field" :style="{display: closeLivingShow}">
                                <label>{{$t("message.closeliving")}}</label>
                                <select v-model="closeLiving">
                                    <option value="0">{{$t("message.no")}}</option>
                                    <option value="1">{{$t("message.yes")}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="field">
                            <label>{{$t("message.roomDesc")}}</label>
                            <input name="username" type="text" v-model="desc"/>    
                        </div>
                        <div class="fields three">
                            <div class="field">
                                <label>{{$t("message.dulicharge")}}</label>
                                <select name="" id="" v-model="dependencyCharge">
                                    <option value="0">{{$t("message.no")}}</option>
                                    <option value="1">{{$t("message.yes")}}</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>{{$t("message.suoshuchannel")}}</label>
                                <channelselect :roomchannel="channelId" ref="channel"></channelselect>
                            </div>
                            <div class="field">
                                <label>{{$t("message.popluar")}}</label>
                                <input type="number" v-model="onlineRatio"/>    
                            </div>
                        </div>
                        <div class="field" :style="{display : changeShow}">
                            <label>{{$t("message.jcprice")}}</label>
                            <div class="inline price-line">
                                <input type="number" class="charge-input-money" v-model="price">    
                                <span class="charge-span">{{$t("message.yuanyue")}}</span>
                            </div>
                            <label>{{$t("message.discount")}}</label>
                            <div class="charge-wrap">
                                <charge v-for="item in chargeStrategy" :discount="item.discount" :duration="item.duration" :id="item.id" ref="charges" v-on:remove="onChargeRemove"></charge>
                            </div>
                            <div class="ui primary button charge-btn" @click="addStrategy">{{$t("message.tianjiacelue")}}</div>
                        </div>
                        <div class="field">
                            <label>{{$t("message.zhubomingdan")}}</label>
                            <p v-for="user in users">
                                {{$t("message.userNmae")}}：{{user.name}}
                                <span class="ui primary button" style="margin-left: 5px;" @click="delHost(user)">{{$t("message.delete")}}</span>
                            </p>
                            <div class="ui primary button" style="margin-left: 5px;" @click="onHostAdd">{{$t("message.tianjiazhubo")}}</div>
                        </div>
                        <imguploader ref="thumbcom" :title="thumbstr" :thumb="thumb"></imguploader>
                        <imguploader ref="u3dcom" :title="u3dstr" :thumb="u3dbg"></imguploader>
                        <div class="fields four">
                            <div class="field">
                                <label>{{$t("message.shijiao")}}</label>
                                <input type="number" v-model="viewAngle" min="60" max="130" @blur="onAngelBlur"/>    
                            </div>
                            <div class="field">
                                <label>{{$t("message.ctrl")}}</label>
                                <select v-model="controlModel">
                                    <option value="0">{{$t("message.tly")}}</option>
                                    <option value="1">{{$t("message.chumo")}}</option>
                                    <option value="2">{{$t("message.tly")}}+{{$t("message.chumo")}}</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>{{$t("message.touying")}}</label>
                                <select v-model="projectStyle">
                                    <option value="0">360-3D-Left-Right</option>
                                    <option value="1">360-3D-Up-Down</option>
                                    <option value="2">360-2D</option>
                                    <option value="3">180-3D-Left-Right</option>
                                    <option value="4">180-3D-Up-Down</option>
                                    <option value="5">180-2D</option>
                                    <option value="6">2D</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>{{$t("message.dsm")}}</label>
                                <select v-model="eyeStyle">
                                    <option value="0">{{$t("message.dm")}}</option>
                                    <option value="1">{{$t("message.sm")}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="ui primary submit button" v-on:click="submit">{{$t("message.submit")}}</div>
                    </form>
                </div>
            </div>
            <!-- 修改主播提示框 -->    
            <div class="ui small second coupled modal">
                <div class="header">{{$t("message.xiugaizhubo")}}</div>
                <div class="content">
                    <div class="description">
                        <userselect ref="userlist"></userselect>
                    </div>
                </div>
                <div class="actions">
                <div class="ui negative button" @click="resetUserList">{{$t("message.no")}}</div>
                    <div class="ui positive button" @click="updateUserList">{{$t("message.yes")}}</div>
                </div>
            </div>         
    </div>
    <!-- 提交成功提示框 -->
    <div class="ui modal sub"> <i class="close icon"></i>
        <div class="header">{{$t("message.gongxi")}}</div>
        <div class="image content">
            <div class="description">
                <div class="ui header">{{$t("message.roommodify")}}{{$t("message.suc")}}</div>
                <p>{{$t("message.link")}}</p>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">{{$t("message.yes")}}</div>
<!--             <div class="ui positive right labeled icon button">
                Yep, that's me <i class="checkmark icon"></i>
            </div> -->
        </div>
    </div>
 
<script src="../lib/jquery.min.js"></script> 
<script src="../lib/semantic.min.js"></script> 
<script src="../lib/vue.js"></script> 
<script src="../lib/vue-resource.js"></script> 
<script src="../lib/vue-i18n.min.js"></script> 
<script src="../common/i18n.js"></script> 
<script src="../common/host.js"></script> 
<script src="../component/imguploader.js"></script> 
<script src="./userlist_component.js"></script>
<script src="./charge_component.js"></script> 
<script src="./channel_component.js"></script> 
<script src="./update.js"></script> 
</body>
</html>